
@{
    ViewData["Title"] = "ExcluirTransacao";
}

<h3>Deseja Excluir a transação selecionada?</h3>

<button type="button" onclick="Cancelar()" class="btn btn-block btn-default">Cancelar</button>
<button type="button" onclick="Excluir()" class="btn btn-block btn-danger">Excluir</button>

<script>
    function Excluir(id)
    {
        window.location.href = "../transacao/Excluir/" + id;
    }
    function Cancelar()
    {
        window.location.href = "../transacao/Index";
    }
</script>