<div class="row">
    <div class="col-lg-6">
        <a href="../Usuario/Login" style="color:aliceblue;" role="button" class="btn btn-block btn-primary">Entrar no Sistema</a>
    </div>
    <div class="col-lg-6">
        <a href="../Usuario/Registrar" style="color:aliceblue" role="button" class="btn btn-block btn-success">Registrar uma Conta</a>
    </div>
</div>
