@{
    Layout = "../Shared/_layoutLogin.cshtml";
}

<div class="container" style="background-color:rgba(245, 245, 245, 0.80);border-radius: 10px 20px; padding:20px; width:300px; height:auto; margin: 15% auto; ">
    <h2>Parabens sua conta foi criada com sucesso! Clique <a href="../Usuario/Login">aqui</a> para efetuar login no sistema...</h2>
</div>
